@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #fdf2f8;
  /* Pink-50ish for Pop feel */
  color: #374151;
  /* Gray-700 */
  font-family: 'M PLUS Rounded 1c', 'Fredoka One', sans-serif;
}